body {
 background-color: #FFF7EE;
}
#paret {
 width: 300px;
 display: block;
 margin: auto;
}
p {
    text-align: center;
    margin: auto;
    display: block;
}
h1 {
    text-align: center;
    margin: auto;
    display: block;
    color: #E81C5E;
}
#left{
 float: left;
width: 15%;
}
#center{
 float: left;
width: 70%;
}
#right{
 float: left;
width: 15%;
}
.icon{
 width: 50%;
 margin: 10% 25% 0% 25%;
}
