body {
 background-color: #FFF7EE;
}
img {
 width: 300px;
 display: block;
 margin: auto;
}
p {
    text-align: center;
    margin: auto;
    display: block;
}
h1 {
    text-align: center;
    margin: auto;
    display: block;
    color: #E81C5E;
}
.left{
width: 15%;
}
.center{
width: 70%;
}
.right{
width: 15%;
}
#icon{
 width: 50%;
}
